[submodule "third_party/petsc"]
	path = third_party/petsc
	url = https://bitbucket.org/petsc/petsc
	ignore = dirty
[submodule "third_party/p4est"]
	path = third_party/p4est
	url = https://github.com/cburstedde/p4est
	ignore = dirty
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
[submodule "third_party/zlog"]
	path = third_party/zlog
	url = https://github.com/HardySimpson/zlog
	ignore = dirty
[submodule "third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS
	branch = master
	ignore = dirty		
[submodule "third_party/hdf5"]
	path = third_party/hdf5
	url = https://github.com/live-clones/hdf5.git
	branch = master
	ignore = dirty