[submodule "ThirdParty/petsc"]
	path = ThirdParty/petsc
	url = https://bitbucket.org/petsc/petsc
	ignore = dirty
[submodule "ThirdParty/p4est"]
	path = ThirdParty/p4est
	url = https://github.com/cburstedde/p4est
	ignore = dirty
[submodule "ThirdParty/zlib"]
	path = ThirdParty/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
[submodule "ThirdParty/zlog"]
	path = ThirdParty/zlog
	url = https://github.com/HardySimpson/zlog
	ignore = dirty
[submodule "ThirdParty/OpenBLAS"]
	path = ThirdParty/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS
	branch = master
	ignore = dirty		
[submodule "ThirdParty/hdf5"]
	path = ThirdParty/hdf5
	url = https://github.com/live-clones/hdf5.git
	branch = master
	ignore = dirty